<div class="col-md-<%= size %>">
  <div class="card mb-<%= size %> box-shadow">
    <% if show %>
    <%= link_to(image_tag(image.data_url, class: 'card-img-top'), image_path(image)) if image.data? %>
    <% else %>
    <%= link_to(image_tag(image.data_url(:thumb_2x), class: 'card-img-top'), image_path(image)) if image.data? %>
    <% end %>
    <div class="card-body">
      <% if show %>
      <h5 class="card-title">ID: <%= image.id %><% if image.moderate %><br>This image has been moderated.<% end %></h5>
      <!-- <p class="card-text"><%= image.data %></p> -->
      <% end %>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <% if image.moderate %>
          <%= link_to 'Accept', image_unmoderate_path(image, page: params["page"]), class: 'btn btn-sm btn-outline-success' %>
          <% else %>
          <%= link_to 'Reject', image_moderate_path(image, page: params["page"]), class: 'btn btn-sm btn-outline-danger' %>
          <% end %>
          <%= link_to 'Show', image_path(image), class: 'btn btn-sm btn-outline-secondary' unless show %>
          <%= link_to 'Edit', edit_image_path(image), class: 'btn btn-sm btn-outline-secondary' if show %>
          <%= link_to 'Delete', image, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger' if show %>
        </div>
      </div>
      <small class="text-muted"><%= image.created_at.strftime("%d %b %I:%M%p") %></small>
    </div>
  </div>
</div>