<p class="alert" role="alert" id="notice"><%= notice %></p>

<!-- <%= link_to 'New Image', new_image_path %> -->

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Images</h1>
    <p class="lead text-muted">Here are all of the images submitted by visitors. Tap the moderate button to stop them from being displayed in our slideshow.</p>
    <!-- <p class="lead text-muted">It'll look like this:</p> -->
    <p>
      <%= link_to "Show all images", images_path(all: true), class: 'btn btn-outline-secondary my-2' %>
      <%= link_to "Update slideshow", welcome_update_slideshow_path, class: 'btn btn-outline-primary my-2' %>
      <!-- TODO: See if I can reboot from Rails... -->
      <%= link_to "Reboot server", welcome_reboot_server_path, class: 'btn btn-outline-danger my-2' %>
    </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
    <% @images.each_with_index do |image, index| %>
      <%= render partial: "shared/card", locals: { image: image, show: false } %>
    <% end %>
    </div>
  </div>
</div>