<p class="alert" role="alert" id="notice"><%= notice %></p>

<!-- <%= link_to 'New Image', new_image_path %> -->

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"><%= @page_title %></h1>
    <p class="lead text-muted">Here are the <%= @image_count %> images submitted by visitors.</p>
    <!-- <p class="lead text-muted">It'll look like this:</p> -->
    <p>
      <% if params["accepted"] or params["rude"] or params["funny"] %>
        <%= link_to "Show all images", images_path, class: 'btn btn-outline-secondary my-2' %>
      <% else %>
        <%= link_to "Show accepted images", images_path(accepted: true), class: 'btn btn-outline-success my-2' %>
        <%= link_to "Rude images", images_path(rude: true), class: 'btn btn-outline-secondary my-2' %>
        <%= link_to "Funny images", images_path(funny: true), class: 'btn btn-outline-secondary my-2' %>
      <% end %>
      <%= link_to "Update slideshow", welcome_update_slideshow_path, class: 'btn btn-outline-primary my-2' %>
      <!-- TODO: See if I can reboot from Rails... -->
      <% link_to "Reboot server", welcome_reboot_server_path, class: 'btn btn-outline-danger my-2' %>
    </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
    <% @images.each_with_index do |image, index| %>
      <%= render partial: "shared/card", locals: { image: image, show: false, size: 2 } %>
    <% end %>
    </div>
    <br /><br />
    <%= paginate @images unless @images.empty? %>
  </div>
</div>