<p id="notice"><%= notice %></p>

<p><%= image_tag(@image.data_url(:thumb_2x), size: '200x200') if @image.data? %></p>

<p>
  <strong>Data:</strong>
  <%= @image.data %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
